/*-------------------------------------------------------------
13.5 rtl
-------------------------------------------------------------*/
// RTL classes for all component
[dir=rtl]{
   .mr-1  {
      margin-right:0rem !important;
      margin-left: 0.25rem !important;
   }
   .mr-2  {
      margin-right:0rem !important;
      margin-left: 0.5rem !important;
   }
   .mr-3  {
      margin-right:0rem !important;
      margin-left: 1rem !important;
   }
   .mr-4  {
      margin-right:0rem !important;
      margin-left: 1.5rem !important;
   }
   .ml-1  {
      margin-right:0.25rem !important;
      margin-left: 0rem !important;
   }
   .ml-2  {
      margin-right:0.5rem !important;
      margin-left: 0rem !important;
   }
   .ml-3  {
      margin-right:1rem !important;
      margin-left: 0rem !important;
   }
   .ml-4  {
      margin-right:1.5rem !important;
      margin-left: 0rem !important;
   }
   .pr-1 {
      padding-right:0rem !important;
      padding-left:0.25rem !important;
   }
   .pr-2 {
      padding-right:0rem !important;
      padding-left:0.5rem !important;
   }
   .pr-3 {
      padding-right:0rem !important;
      padding-left:1rem !important;
   }
   .pr-4 {
      padding-right:0rem !important;
      padding-left:1.5rem !important;
   }
   .pl-1  {
      padding-right:0.25rem !important;
      padding-left: 0rem !important;
   }
   .pl-2  {
      padding-right:0.5rem !important;
      padding-left: 0rem !important;
   }
   .pl-3  {
      padding-right:1rem !important;
      padding-left: 0rem !important;
   }
   .pl-4  {
      padding-right:1.5rem !important;
      padding-left: 0rem !important;
   }
   .text-left {
      text-align: right !important;
   }
   .text-right{
      text-align: left !important;
   }
   .border-r-1 {
      border-left: 1px solid #ddebf3;
      border-right: none !important;
   }
   .border-l-1 {
      border-right: 1px solid #ddebf3;
   }
   .slick-slider {
      direction: ltr!important;
   }
   .mat-form-field {
      text-align: left !important;
   }
   .mr-3  {
      margin-right:0rem !important;
      margin-left: 1rem !important;
   }
 
   &.collapsed-sidebar .mat-sidenav .sidebar-panel:not(:hover) .nav-item {
      padding:0rem 0.8rem !important;
   }
   &.collapsed-sidebar mat-sidenav .sidebar-panel:not(:hover) .mat-button-wrapper .mat-icon{
      display: none !important;
   }
   .shop-grid-wrapper .ais-Panel .ais-RefinementList-checkbox {
      margin-left: 0.5rem;
      margin-right: 0rem;
   }
   // sidebar
 
   .sidebar-panel .sidebar-container .sidebar-content .list-title .mat-icon.list-icon {
      padding-left:0.625rem;
   }  
   .mat-sidenav .sidebar-panel {
      .list-item {
         padding:0rem 2rem !important;
         margin:0rem !important;
      }
      .nav-item:before {
         border-radius: 100px 0 0 100px !important;
         transform-origin: right!important;  
      }
   }
   .mat-list-item{
      .menu-caret {
         transition: all .3s ease-in-out 0s;
         margin-left: 0 !important;
         transform: rotate(180deg) !important;
      } 

      &.open .menu-caret {
         transform: rotate(90deg) !important;
      } 
      .child-item{
         margin-left:0.8rem;
      }  
   }
   .mat-sidenav .sidebar-panel .sub-menu a {
      padding-right: 4rem !important;
      padding-left:1.5rem;
   }   
   
}
@media(max-width:767px){
   [dir="rtl"]{
      .header-wrapper .anglo-ham-icon {
         margin-right: 0;
      }
   }
}
@media(min-width:1280px){
   .side-panel-opened mat-sidenav-content {
      margin-left: 248px !important;
   }
}

@media (max-width: 1920px) and (min-width: 1279px) { 
   .collapsed-sidebar[dir="rtl"].side-panel-opened mat-sidenav.sidebar-area ~ .mat-drawer-content {
      margin-right: 80px !important;
      margin-left: 0 !important;
   }
}

[dir="rtl"] .sidebar-panel .material-icons {
	text-align: right; 
}
[dir="rtl"] .collapsed-sidebar .anglo-logo {
	padding-right: 1.4rem !important;
}
body [dir="rtl"] .user-profile-menu mat-icon {
	text-align: left !important;
}
@media(min-width:1280px){
   [dir="rtl"].side-panel-opened mat-sidenav-content {
      margin-left: 0 !important;
      margin-right: 248px !important;
   }
}
