<div class="card-content mb-4">
	<mat-card>
		<div fxLayoutAlign="row" fxLayoutALign="space-between center">	
			<div class="mr-3">
				<img class="radius-circle" src="/assets/img/user-3.jpg" width="95" height="95">
			</div>
			<div>	
				<mat-card-content>
					<span class="warn-color">Request</span>
					<h2 class="mb-2">Andre Hicks</h2>
					<span class="mb-2 anglo-block">Sr. Develoepr @Oracle</span>
					<button class="mb-2 anglo-block" mat-raised-button color="primary">ACCEPT</button>
					<button mat-raised-button color="warn">REJECT</button>
				</mat-card-content>
			</div>
		</div>	
	</mat-card>
</div>
