/*-------------------------------------------------------------
9.2 Chips
-------------------------------------------------------------*/
.a-chips-wrapper {
	.a-chip {
		width:25px;
		height:25px;
	}
	.mat-chip-list-wrapper .mat-standard-chip	{
    	font-size: 12px;
   } 
}
	