<div class="app-card-title mb-3">
   <anglo-title-component title = "Cards"></anglo-title-component>
</div>
<div class="grid-wrapper cards-wrapper" fxLayout="row wrap">
	<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
		<mat-card>
			<img mat-card-image src="/assets/img/blog-1.jpg" alt="Photo of a Shiba Inu">	
			<mat-card-content>
			<h4 class="title headline text-capitalize primary-color">Blog post layout #1 with image</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices tortor non quam feugiat pulvinar. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam gravida justo, ut rhoncus tellus malesuada nec. Fusce dignissim velit eget consequat congue....</p>
			</mat-card-content>
			<mat-card-actions class="m-0">
				<button mat-raised-button color="primary">SHARE</button>
				<button mat-raised-button color="warn">EXPLORE</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
		<mat-card>
			<div class="app-card p-3">	
				<img mat-card-image src="/assets/img/blog-2.jpg" alt="Photo of a Shiba Inu">
				<mat-card-content>
				<h4 class="title text-capitalize">Where Can You Find Unique Myspace Layouts Nowadays</h4>
					<span class="small">11 Nov 2017 , By: Admin , 5 Comments</span>
				</mat-card-content>
				<mat-card-actions class="m-0">
					<button mat-raised-button color="primary">SHARE</button>
					<button mat-raised-button color="warn">EXPLORE</button>
				</mat-card-actions>
			</div>	
		</mat-card>
	</div>
</div>
<div class="grid-wrapper cards-wrapper" fxLayout="row wrap">
	<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
		<mat-card>
			<div class="card-image mb-3">
				<img class="mb-0" mat-card-image src="/assets/img/blog-2.jpg" alt="Photo of a Shiba Inu">
				<div class="overlay-content p-2" fxLayoutAlign="center start">
					<span class="headline text-color">Top 10 Australian beaches</span>
				</div>
			</div>	
			<mat-card-content>
				<h4 class="title headline text-capitalize primary-color">Blog post layout #1 with image</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices tortor non quam feugiat pulvinar. Lorem ipsum dolor sit amet,ut rhoncus tellus malesuada nec. consequat congue....</p>
			</mat-card-content>
			<mat-card-actions class="m-0">
				<button mat-raised-button color="primary">SHARE</button>
				<button mat-raised-button color="warn">EXPLORE</button>
			</mat-card-actions>
		</mat-card>
	</div>	
	<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
		<mat-card class=" img-wrap">	
			<img mat-card-image src="/assets/img/blog-1.jpg" alt="Photo of a Shiba Inu">
			<mat-card-content>
				<h4 class="text-capitalize">Top western road trips</h4>
				<span class="small">1,000 miles of wonder</span>
			</mat-card-content>
			<div fxLayoutAlign="space-between center" fxLayout="row wrap">
				<div class="m-0">
					<mat-card-actions class="m-0">
						<button mat-raised-button color="primary">SHARE</button>
						<button mat-raised-button color="warn">EXPLORE</button>
					</mat-card-actions>
				</div>
				<div class="content-dropdown">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
						</mat-expansion-panel-header>
					   <p>I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape..</p>
					</mat-expansion-panel>
				</div>
			</div>	
		</mat-card>
	</div>	
</div>		

