<div class="app-card-title mb-3">
	<anglo-title-component title="User"></anglo-title-component>
</div>
<div class="widget-wrap grid-wrapper" fxLayout="row wrap">
		

	<!-- User Blog -->
	<div class="user-blog-widget" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
		<mat-card>
			<div class="a-responsive">
            <img src="assets/img/user-post-1.jpg" alt="">
				<div class="blog-heading">	
					<h5 class="title title">Some tips for travelling </h5>
				</div>
			</div>	
			<mat-card-content class="mb-0">
				<div class="mb-1">
					<span class="grey-text fs-12">Last updated: Number 10</span>
				</div>
				<p>Whitehaven Beach Whitsunday Island, Whitsunday Islands, Ullam expedita, necessitatibus sit exercitationem aut quo quos inventore,whitehaven Beach Whitsunday Island, Whitsunday Islands, Ullam expedita,</p>
			</mat-card-content>	
			<mat-card-actions class="my-0 p-0">
				<div class="share-icon" fxLayoutAlign="space-between center">
					<div>
						<button mat-icon-button class="share" color="primary"><mat-icon>share</mat-icon></button>
						<button mat-icon-button class="fav"  color="warn"><mat-icon>favorite</mat-icon></button>
					</div>
					<div>	
						<button mat-icon-button><mat-icon class="grey-text">more_horiz</mat-icon></button>
					</div>	
				</div>	
			</mat-card-actions>
		</mat-card>	
   </div>
   
	<!-- User Blog -->
	<div class="user-blog-widget" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
		<mat-card>
			<div class="a-responsive">
               <img src="assets/img/user-post-2.jpg" alt="">
				<div class="blog-heading">	
					<h5 class="title title">Top 10 Australian beaches </h5>
				</div>
			</div>	
			<mat-card-content class="mb-0">
				<div class="mb-1">
					<span class="grey-text fs-12">Last updated: Number 10</span>
				</div>
				<p>Whitehaven Beach Whitsunday Island, Whitsunday Islands, Ullam expedita, necessitatibus sit exercitationem aut quo quos inventore,whitehaven Beach Whitsunday Island, Whitsunday Islands, Ullam expedita,</p>
			</mat-card-content>	
			<mat-card-actions class="my-0 p-0">
				<div class="share-icon" fxLayoutAlign="space-between center">
					<div>
						<button mat-icon-button class="share" color="primary"><mat-icon>share</mat-icon></button>
						<button mat-icon-button class="fav"  color="warn"><mat-icon>favorite</mat-icon></button>
					</div>
					<div>	
						<button mat-icon-button><mat-icon class="grey-text">more_horiz</mat-icon></button>
					</div>	
				</div>	
			</mat-card-actions>
		</mat-card>	
   </div>
   
   	<!-- User Blog -->
	<div class="user-blog-widget" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
		<mat-card>
			<div class="a-responsive">
               <img src="assets/img/user-post-3.jpg" alt="">
				<div class="blog-heading">	
					<h5 class="title title">Travel like a boss </h5>
				</div>
			</div>	
			<mat-card-content class="mb-0">
				<div class="mb-1">
					<span class="grey-text fs-12">Last updated: Number 10</span>
				</div>
				<p>Whitehaven Beach Whitsunday Island, Whitsunday Islands, Ullam expedita, necessitatibus sit exercitationem aut quo quos inventore,whitehaven Beach Whitsunday Island, Whitsunday Islands, Ullam expedita,</p>
			</mat-card-content>	
			<mat-card-actions class="my-0 p-0">
				<div class="share-icon" fxLayoutAlign="space-between center">
					<div>
						<button mat-icon-button class="share" color="primary"><mat-icon>share</mat-icon></button>
						<button mat-icon-button class="fav"  color="warn"><mat-icon>favorite</mat-icon></button>
					</div>
					<div>	
						<button mat-icon-button><mat-icon class="grey-text">more_horiz</mat-icon></button>
					</div>	
				</div>	
			</mat-card-actions>
		</mat-card>	
	</div>


</div>

<!-- New Email -->
<div class="app-card-content grid-wrapper" fxLayout="row wrap">
	<div class="user-widget-wrap app-card" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
		<anglo-new-mails-list title="New Emails" [supportData]="newEmailData"></anglo-new-mails-list>
	</div>
</div>		