<mat-card class="full-hght p-0">
	<div class="blog-image blog-db-image full-hght">
		<div class="overlay-content" >
			<div class="">
				<mat-card-content>
					<h3 class="mb-3 text-color">Where Can You Find Unique Myspace Layouts Nowadays</h3>
					<span class="text-color">11 Nov 2017 , By: Admin , 5 Comments</span>
				</mat-card-content>
			</div>
			<div>
				<mat-card-actions class="m-0 p-0">
					<div fxLayoutAlign="space-between center">
						<div>
							<button class="text-color" mat-icon-button><mat-icon class="text-color mr-3">share</mat-icon>
							<mat-icon class="text-color">favorite</mat-icon></button>	
						</div>
						<div>
							<button class="text-color" mat-icon-button>
							<mat-icon class="text-color">more_horiz</mat-icon></button>
						</div>	
					</div>	
				</mat-card-actions>
			</div>	
		</div>	
	</div>
</mat-card>
