<div class="card-content">
	<ngx-slick-carousel [config]="slideConfig">
		<div ngxSlickItem *ngFor="let slide of reviewsSlideData">
			<div class="review-item p-3">	
				<div class="mb-3">	
					<div class="rating-bar" fxLayoutAlign="start center">
						<div class="anglo-star-rating">
							<bar-rating [rate]="slide.rate" [max]="5" [readOnly]="true" [theme]="'default'"></bar-rating>
						</div>
						<div class="name">	
							<span class="fs-12 ml-2 grey-text">{{slide.name}}</span>
						</div>
					</div>		
					<div class="content">
						<p class="fs-12 font-bold">{{slide.heading}}</p>
						<p class="fs-12 grey-text">{{slide.paragraph}}</p>
					</div>
				</div>	
				<div>	
					<a class="primary-color">{{slide.footer}}</a>
				</div>	
			</div>	
		</div>
	</ngx-slick-carousel>
</div>	
