<div class="app-card-title mb-4">
	<anglo-title-component title="Linea"></anglo-title-component>
</div>
<div class="card-wrapper">
	<div class="app-card" *ngIf="lineaIcon && lineaIcon.length>0">
		<div class="card-title">
			<h3></h3>
		</div>
		<div class="card-content">
			<mat-card>
				<mat-list fxLayout="row wrap">
					<mat-list-item *ngFor="let lineaIcons of lineaIcon" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
						<span class="icon-style"  fxLayoutAlign="space-between center">
							<div class="icon mr-2">
								<mat-icon matListIcon class="icon {{lineaIcons}}"></mat-icon>
							</div>	
							<div class="icon-name">{{lineaIcons}} </div>
						</span>
					</mat-list-item>
				</mat-list>
			</mat-card>
		</div>
	</div>
</div>