/*-------------------------------------------------------------
12.6 gridfix
-------------------------------------------------------------*/
.grid-wrapper{
	margin: 0 -12px;
	>div{
		padding:12px;
	}
}
.margin-none {
	margin:-12px 0px;
}